html {
  font-size: 62.5%;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: normal;
}

.wrapper {
  max-width: $max-width;
  margin: 0 auto;
  @include media-content {
    max-width: $content-width;
  }
  @include media-laptop {
    max-width: $tablet-width;
  }
  // @include media-tablet {
  //   max-width: $mobile-width;
  // }
}

.link {
  text-decoration: none;
  white-space: nowrap;

  &:focus {
    outline: 1px $primary-text-color;
    outline-style: dotted;
  }
}

.list {
  display: flex;
  list-style: none;
}
