.menu {
  position: relative;
  z-index: 2;
  color: $header-text-color;

  & > .menu__toggle {
    display: none;
    &:checked ~ ul.menu__list {
      visibility: visible;
      opacity: 1;
      clip: auto;
      width: 100%;
      height: auto;
      margin: auto;
    }
  }
  & > label.menu__toggle {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10px;
    right: 15px;
    cursor: pointer;
    @include media-tablet {
      display: block;
    }
  }
  & > input.menu__toggle {
    @include media-tablet {
      display: block;
      visibility: hidden;
      opacity: 0;
      clip: rect(0 0 0 0);
      width: 1px;
      height: 1px;
      margin: -1px;
    }
  }

  input.toggleMenu:checked + label.toggleMenu {
    background: #000;
    color: #fff;
  }
  input.toggleMenu:checked ~ ul,
  input.toggleSubmenu:checked ~ ul {
    display: block;
    position: relative;
    max-height: 5000px;
    transition: max-height 2s ease-in;
  }

  // .menu__burger

  &__burger {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: #f5b895;

    &::before {
      display: block;
      transform: translateY(-8px);
      content: '';
      display: block;
      background-color: #f5b895;
      height: 2px;
      @extend %transition;
    }
    &::after {
      display: block;
      transform: translateY(6px);
      content: '';
      display: block;
      background-color: #f5b895;
      height: 2px;
      @extend %transition;
    }
  }

  // .menu__list

  &__list {
    position: relative;
    display: flex;
    margin: 0;
    padding: 3px 0 0;

    @include media-tablet {
      top: 50px;
      visibility: hidden;
      opacity: 0;
      transition: all 0.6s ease-in-out;
      clip: rect(0 0 0 0);
      width: 1px;
      height: 1px;
      margin: -1px;

      flex-direction: column;

      @at-root .header {
        height: auto !important;
      }

      @at-root .sub-menu__list {
        position: relative;
      }
    }
  }

  // .menu__item

  &__item {
    @include media-tablet {
      position: relative;
      border-bottom: 1px solid #ffffffb8;
      transition: all 0.3s ease-out;
      & > .arrow_active {
        & ~ ul.sub-menu__list {
          visibility: visible;
          opacity: 1;
          clip: auto;
          width: 100%;
          height: auto;
          margin: auto;
        }
      }
    }

    &::after {
      content: '';
      visibility: hidden;
      opacity: 0;
      display: block;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 70%;
      height: 3px;
      background-color: #f5b895;
      @include media-tablet {
        display: none;
      }
    }

    &:hover {
      &::after {
        z-index: 2;
      }
    }

    &:hover,
    &:focus-within {
      @extend %transition;
      @include media-min-tablet {
        & > ul.sub-menu__list {
          visibility: visible;
          opacity: 1;
          clip: auto;
          width: 100%;
          height: auto;
          margin: auto;
        }

        &::after {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  // .menu__link

  &__link {
    display: block;
    font-size: 2.2rem;
    padding: 15px;
    color: $header-text-color;
    @include media-laptop {
      font-size: 1.8rem;
      padding: 14px 10px;
    }
    @include media-tablet {
      cursor: auto;
    }
  }

  &__arrow {
  }
}

.arrow {
  display: none;
  position: absolute;
  right: 5%;
  top: 15px;
  height: 15px;
  width: 15px;
  border-bottom: 3px solid $header-text-color;
  border-left: 3px solid $header-text-color;
  transform: rotate(-45deg);
  cursor: pointer;
  @extend %transition;

  &_active {
    transform: rotate(135deg);
  }
  @include media-tablet {
    display: block;
  }
}
