.sub-sub-menu {

  // .sub-sub-menu__link

  &__link {
    display: block;
    color: $header-text-color;
    font-size: 1.5rem;
    @include media-laptop {
      font-size: 1.3rem;
    }
  
    @include media-tablet {
      font-size: 1rem;
    }
  }

  // .sub-sub-menu__arrow

  &__arrow {
  }

  // .sub-sub-menu__list

  &__list {
    flex-direction: column;
    padding-inline-start: 0;
    @extend %transition;
    @include media-tablet {
      visibility: hidden;
      opacity: 0;
      clip: rect(0 0 0 0 );
      width: 1px;
      height: 1px;
      margin: -1px;
    }
  }

  // .sub-sub-menu__item

  &__item {
    padding: 15px 0;
  }
}